<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:5421/IRequest" binding="netTcpBinding" contract="Common.IRequest" name="client"></endpoint>
    </client>
    <services>
      <service name="Electricity_client.Response">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:5422" />
          </baseAddresses>
        </host>
        <endpoint address="IResponse" binding="netTcpBinding" contract="Common.IResponse"></endpoint>
      </service>
    </services>
  </system.serviceModel>
  <appSettings>
    <add key="filePath" value="Electricity_consumption.csv" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>