<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="Electricity_server.Request">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:5421"/>
          </baseAddresses>
        </host>
        <endpoint address="IRequest" binding="netTcpBinding" contract="Common.IRequest"></endpoint>
      </service>
    </services>
  <client>
    <endpoint address="net.tcp://localhost:5422/IResponse" binding="netTcpBinding" contract="Common.IResponse" name="client1"></endpoint>
  </client>
  </system.serviceModel>
  <appSettings>
    <add key="TimeSpanValue" value="00:15:00" />
  </appSettings>
</configuration>